
ul.SL-Posts {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-family: Verdana, Arial, sans-serif;
	font-size: 14px;
	width: 399px;
	border: 1px solid #ccc;
	border-bottom: 0;
	float: left;
}

ul.SL-Posts li {
	margin: 0;
	padding: 10px;
	list-style-type: none;
	border-bottom: 1px solid #ccc;
}

ul.SL-Posts li .avatar-area {
	float: left;
	margin: 0 10px 0 0;
}

ul.SL-Posts li .Content img {
	float: none;
	margin: 0 0 10px;
	width: 100%;
}

ul.SL-Posts li .Content {
	padding-bottom: 5px;
	color: #333;
	margin-left: 60px;
}

ul.SL-Posts li .Meta {
	font-size: 11px;
	color: #555;
	clear: both;
}

ul.SL-Posts li .Meta .ServerTime {
	display: none;
}

dd.Voting {
	color: green;
}


.SL-Posts blockquote h3{
letter-spacing: -0.03em;
margin: 0 0 10px ;
font-size: 15px;
font-weight: bold;
clear: both;
}

ul.SL-Posts >li:nth-child(odd) {
background: #F8F8F8;
}

ul.SL-Posts img {
    float:left;
}